.tower {
  height: 450px;
  background-color: #000000;
  border: 3px solid #9639AD;
}

#tower1 {
  height: 450px;
  background-color: #01B0F0;
  border: 4px solid  #FF358B;
}

#tower2 {
  height: 450px;
  background-color: #BEF600;
  border: 4px solid #FF358B;
  display: inline-block;
  position: relative;
}

#tower3 {
  height: 450px;
  background-color: #01B0F0;
  border: 4px solid #FF358B;
  display: inline-block;
  position: relative;
}

.diskContainer{
  bottom: 0;
  position: absolute;
  left: 2vw;
  right: 2vw;
  /*left: 60px;*/
}

.disk {
  height: 50px;
  background-color: #01B0F0;
  margin: 0 auto;
  border-radius: 7px;
  border: 3px solid #BEF600;
}

.disk.clicked {
  border: 2px dashed #01B0F0;
}

#p1 {
  width: 5vw;
  border-color:  #BEF600;
  background-color: #FF358B;
  color: #FF358B;
}

#p2{
  width: 10vw;
  background-color: #BEF600;
  color: #BEF600;
  border-color: #FF358B;
}

#p3{
  width: 15vw;
  background-color: #FF358B;
  color: #FF358B;
  border-color:  #BEF600;
}