.tower {
  height: 600px;
  background-color: #FFDE12;
  border: 3px solid #9639AD;
}

.disk {
  height: 50px;
  background-color: #9639AD;
  margin-left: auto;
  margin-right: auto;
  border-radius: 7px;
  border: 3px solid #BEF600;
}

.disk.clicked {
  border: 4px dashed white;
}

#p1 {
  width: 50px;
  background-color: #FF2F7C;
  border-color: #9639AD;
}

#p2{
  width: 100px;
  background-color: #BEF600;
  border-color: #9639AD;

}

#p3{
  width: 150px;
  background-color: #00ADBC;
  border-color: #9639AD;

}